*{
    transition: all ease-in 0.2s;
}
body {
     min-height: 100vh;
     overflow-x: hidden;
 }

 .sidebar {
     width: 250px;
 }

 .sidebar.collapsed {
     width: 80px;
 }

 .content {
     margin-left: 250px;
     transition: margin-left 0.3s;
 }

 .content.collapsed {
     margin-left: 80px;
 }

 .sidebar .nav-link {
     white-space: nowrap;
     overflow: hidden;
 }

 .sidebar.collapsed .nav-link span {
     display: none;
 }

 .hide{
    display: none;
 }