.torneos{
    max-width: 800px;
    margin: auto;
    background-color: var(--primaryT);
    
}

.torneo{
    display: flex;
    align-items: center;
    padding: 12px;
    column-gap: 10px
}

.torneo .profile{
    width: 128px;
    height: 128px;
}

.torneo .body{
    width: calc(100% - 118px);
}